body {
    background-color: burlywood;
}
#tytuł {
    background-color: azure;
}
#paragraf1 {
    background-color: pink;
}
#podtytuł {
    background-color: yellowgreen; 
}
#paragraf2 {
    background-color: darkgoldenrod;
}
#lista {
    background-color: blueviolet;
}